//Colors
$green: rgb(4, 231, 98);
$red: rgb(255, 44, 85);
$link-color: black;
$text-muted-color: rgb(202, 202, 202);
$button-base: rgb(160, 40, 66);
$button-base-dark: rgb(245, 145, 55);
$link-active-color: $red;
$link-hover-color: $link-active-color;
$base-gradient-start: rgb(255, 190, 205);
$base-gradient-end: rgb(255, 205, 215);