//Colors
$base-text-color: rgb(0, 0, 0);
$green: rgb(4, 231, 98);
$red: rgb(255, 45, 85);
$link-color: $base-text-color;
$text-muted-color: rgb(202, 202, 202);
$base-crimson: rgb(160, 40, 66);
$link-active-color: $red;
$link-hover-color: $link-active-color;
$base-gradient-start: rgb(255, 190, 205);
$base-gradient-end: rgb(255, 205, 215);

// Font Sizes
$h2-size: 2rem;
$h4-size: 1.4rem;