@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i&subset=cyrillic');

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;

	@include media-breakpoint-up(lg) {
		margin-bottom: 280px;
	}

	@include media-breakpoint-down(lg) {
		margin-bottom: 350px;
	}

	@include media-breakpoint-down(sm) {
		margin-bottom: 500px;
	}
}

header {
	padding-top: 1rem;

	@include media-breakpoint-up(md) {
		padding-top: 2rem;
	}

	.navbar-brand {
		position: absolute;
		text-align: center;
		left: 0;
		right: 0;
		display: inline-block;
		background-image: url('/img/whamisa-logo.gif');
		background-size: contain;
		height: 75px;
		width: 84px;
		margin: auto;

		&:hover {
			opacity: .7;
		}

		@include media-breakpoint-down(sm) {
			margin: 0;
			margin-right: auto;
			position: relative;
			height: 62px;
			width: 70px;
		}
	}

	.icons-menu {

		li {
			padding-left: 1rem;
			list-style: none;
		}

		.nav-link {
			color: black;

			&:hover {
				color: $red;
			}
		}

		.navbar {
			padding: 0;

			@include media-breakpoint-down(sm) {
				display: none;
			}
		}
	}

	.header-icon-link {
		padding: 0 !important;
		border: none;
		text-align: center;
		display: block;

		span {
			color: $text-muted-color;
			font-size: 65%;
			display: block;
			transition: .2s;
		}

		&:hover span {
			color: $link-active-color;
		}

		svg.active {
			display: none;
		}
	}

	.active .header-icon-link {
		font-weight: normal;

		span {
			color: $link-active-color;
		}

		svg {
			display: none;

			&.active {
				display: inline-block;
			}
		}
	}

	.navbar-toggler {
		@include media-breakpoint-up(md) {
			display: none;
		}
	}

	// SEARCH	
	.search-trigger {
		left: 0;
		top: 0;

		@include media-breakpoint-up(md) {
			margin-right: auto;
		}

		@include media-breakpoint-down(sm) {
			margin-right: 1rem;
			margin-top: 2px;
		}

		&:focus {
			color: black;
		}

		span {
			opacity: 0;
		}
	}

	.search-trigger.collapsed{
		span {
			opacity: 1;
			display: block;
		}
	}

	.search-form {
  	// width: 100%;
  	padding-top: 1.5rem;

  	@include media-breakpoint-up(md) {
  		padding-top: 0;
  		top: 15px;
  		position: absolute;
  		left: 60px;
  	}
  }

  .main-menu {
  	width: 100%;
  	padding-top: 1.5rem;

  	@include media-breakpoint-down(sm){
  		padding-top: 0;
  	}

  	li{
  		margin: 0 1rem;

  		span{
  			color: $button-base;
  		}

  		a{
  			border: none;
  			padding: 0;
  			position: relative;

  			span{
  				border: none;
  			}
  		}
  	}
  }
}

a, .btn-link {
	@include link-style($link-color, $link-hover-color);

	&.inside {
		@include inside-link-style($link-color, $link-hover-color);
	}
}

.btn {
	font-weight: normal !important;
	border: none;
}

.base-gradient {
	@include gradient($base-gradient-start, $base-gradient-end);
	color: $button-base;
}

.color-invert {
	color: white;

	a {
		@include link-style($white, $button-base);
	}

	a.inside {
		@include inside-link-style($white, $button-base);
	}

	.text-muted {
		color: transparentize($white, .7);
	}
}

.caps-spaced {
	text-transform: uppercase;
	letter-spacing: .025rem;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
	padding-bottom: 40px;

	@include media-breakpoint-down(lg) {
		margin: 0;
		width: 100%;
		max-width: none;
		padding-left: 0;
		padding-right: 0;
		// margin-right: -15px;
		// margin-left: -15px;

		.carousel-caption {
			right: calc(14% + 10px);
			left: 15px;
			top: 3rem;
		}

		h1 {
			font-size: 2.25rem;
		}
	}

	.carousel-control-prev,
	.carousel-control-next {
		width: 20px;
		color: $button-base;
		opacity: 1;
		border: none;
	}

	.carousel-control-next {
		right: -30px;

		@include media-breakpoint-down(sm) {
			right: 10px;
		}
	}

	.carousel-control-prev {
		left: -30px;

		@include media-breakpoint-down(sm) {
			left: 10px;
		}
	}

	h1 {
		font-weight: bold;
		font-size: 4rem;
		text-align: left;
	}

	.carousel-header {
		margin-bottom: 7rem;
	}

	.container {
		position: relative;
	}

	.carousel-indicators {
		bottom: 0;

		li {
			width: 10px;
			height: 10px;
			border-radius: 10px;
			border: 1px solid $button-base;
			background-color: transparent;

			&.active {
				background-color: $button-base;
			}
		}
	}

  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
  	top: 4rem;
  	z-index: 10;
  	left: 15px;
  	right: 10%;
  }

  /* Declare heights because of positioning of img element */
  .carousel-item {
  	min-height: 20rem;

  	@include media-breakpoint-down(sm) {
  		min-height: 15rem;
  	}
  }

}

// FORMS
form {
	.form-control {
		border: none;
		background-color: transparentize($text-muted-color, .75);
	}

	&.search-form {
		width: 250px;

		.form-control {
			width: 150px;
		}
	}
}

.footer {
	background-image: url('/img/rose-pattern-bg.jpg');
	position: absolute;
	bottom: 0;
	width: 100%;

	@include media-breakpoint-up(lg) {
		padding-top: 40px;
		height: 280px;
	}

	@include media-breakpoint-down(lg) {
		padding-top: 40px;
		height: 350px;
	}

	@include media-breakpoint-down(sm) {
		padding-top: 30px;
		height: 500px;
	}

	h3 {
		font-size: 1rem;
		margin-bottom: .75rem;
	}

	.navbar-brand {
		display: block;
		background-image: url('/img/whamisa-logo-black.png');
		background-size: contain;
		height: 75px;
		width: 84px;
		margin: 0;
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			margin-bottom: .25rem;
		}
	}

	.logo-copyright {
		padding-right: 15px;
		padding-left: 15px;

		@include media-breakpoint-down(lg) {
			@include make-col(12);

			.logo {
				@include make-col(2);
			}

			.copyright {
				@include make-col(3);
				padding-top: 2rem;
			}

			margin-bottom: 1rem;
		}

		@include media-breakpoint-down(sm) {
			.logo {
				@include make-col(4);
			}

			.copyright {
				@include make-col(8);
				padding-top: 1.5rem;
			}

			margin-bottom: 2rem;
		}

		@include media-breakpoint-up(lg) {
			@include make-col(3);

			.logo, .copyright {
				@include make-col(12);
				margin-bottom: 1rem;
				padding: 0;
			}
		}
	}

	.links-list {
		padding-right: 15px;
		padding-left: 15px;

		@include media-breakpoint-up(md) {
			@include make-col(4);
		}

		@include media-breakpoint-up(lg) {
			@include make-col(3);
		}

		@include media-breakpoint-down(md) {
			@include make-col(4);

			margin-bottom: 1rem;
		}

		@include media-breakpoint-down(sm) {
			@include make-col(6);
		}
	}
}