@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i&subset=cyrillic');


/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;

	@include media-breakpoint-up(lg){
		margin-bottom: 280px;
	}	

	@include media-breakpoint-down(md) {
		margin-bottom: 350px;
	}

	@include media-breakpoint-down(sm) {
		margin-bottom: 500px;
	}
}

.navbar{
	padding-top: 2rem;

	// .navbar-holder{
		// z-index: -1;

		.navbar-brand{
			position: absolute;
			text-align: center;
			width: 100%;
			left: 0;
			right: 0;
			display: inline-block;
			background-image: url('/img/whamisa-logo.gif');
			background-size: contain;
			height: 75px;
			width: 84px;
			margin: auto;

			&:hover{
				// transform: scale(1.05);
				opacity: .7;	
			}

			@include media-breakpoint-down(sm){
				margin: 0;
				// right: auto;
				// left: 15px;
				position: relative
			}
		}
	// }

	.navbar-nav{
		li{	
			padding-left: 1rem
		}
	}

	.header-icon-link{
		padding: 0 !important;
		border: none;
		text-align: center;
		display: block;

		span{
			color: $text-muted-color;
			text-transform: uppercase;
			letter-spacing: .025rem;
			font-size: 65%;
			display: block;
			transition: .2s;
		}

		&:hover span{
			color: $link-active-color;
		}

		svg.active{
			display: none;
		}


		// Иконка поиска
		&.search{
			span{
				display: none;
			}
		}

		&.search.collapsed{
			span{
				display: block;
			}
		}
	}

	
	.active .header-icon-link{
		font-weight: normal;

		span{
			color: $link-active-color;
		}

		svg{
			display: none;

			&.active{
				display: inline-block;
			}
		}
	}
}

a {
	@include link-style($link-color, $link-hover-color);

	&.inside {
		@include inside-link-style($link-color, $link-hover-color);
	}
}

.color-invert {
	color: white;

	a {
		@include link-style($white, $button-base);
	}

	a.inside {
		@include inside-link-style($white, $button-base);
	}

	.text-muted {
		color: transparentize($white, .7);
	}
}

.footer {
	background-image: url('/img/rose-pattern-bg.jpg');
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 60px;

	h3{
		text-transform: uppercase;
		letter-spacing: .025rem;
		font-size: 1rem
	}

	.navbar-brand{
		display: block;
		background-image: url('/img/whamisa-logo-black.png');
		background-size: contain;
		height: 75px;
		width: 84px;
		margin: 0;
	}

	ul{
		list-style: none;
		padding: 0;

		li{
			margin-bottom: .25rem;
		}
	}

	.logo-copyright{
		padding-right: 15px;
		padding-left: 15px;

		@include media-breakpoint-down(lg){
			@include make-col(12);

			.logo{
				@include make-col(2);
			}

			.copyright{
				@include make-col(3);
				padding-top: 2rem;
			}

			margin-bottom: 1rem;
		}

		@include media-breakpoint-down(sm){
			.logo{
				@include make-col(4);
			}

			.copyright{
				@include make-col(8);
				padding-top: 1.5rem;
			}

			margin-bottom: 2rem;
		}

		@include media-breakpoint-up(lg){
			@include make-col(3);

			.logo, .copyright{
				@include make-col(12);
				margin-bottom: 1rem;
				padding: 0;
			}
		}

		
	}

	.links-list{
		padding-right: 15px;
		padding-left: 15px;

		@include media-breakpoint-up(md){
			@include make-col(4);
		}

		@include media-breakpoint-up(lg){
			@include make-col(3);
		}

		@include media-breakpoint-down(md){
			@include make-col(4);

			margin-bottom: 1rem;
		}

		@include media-breakpoint-down(sm){
			@include make-col(6);
		}
	}

	@include media-breakpoint-up(lg){
		height: 280px;
	}	

	@include media-breakpoint-down(md) {
		padding-top: 40px;
		height: 350px;
	}

	@include media-breakpoint-down(sm) {
		padding-top: 30px;
		height: 500px;
	}
}