// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=cyrillic-ext');
/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;

	@include media-breakpoint-up(lg) {
		margin-bottom: calc(280px + 4rem);
	}

	@include media-breakpoint-down(lg) {
		margin-bottom: calc(350px + 4rem);
	}

	@include media-breakpoint-down(sm) {
		margin-bottom: calc(500px + 4rem);
	}
}

header {
	padding-top: 1rem;

	@include media-breakpoint-up(md) {
		padding-top: 2rem;
	}

	.navbar-brand {
		position: absolute;
		text-align: center;
		left: 0;
		right: 0;
		display: inline-block;
		background-image: url('../img/whamisa-logo.gif');
		background-size: contain;
		height: 75px;
		width: 84px;
		margin: auto;

		&:hover {
			opacity: .7;
		}

		@include media-breakpoint-down(sm) {
			margin: 0;
			margin-right: auto;
			position: relative;
			height: 62px;
			width: 70px;
		}
	}

	.icons-menu {

		li {
			padding-left: 1rem;
			list-style: none;
		}

		.nav-link {
			color: $base-text-color;

			&:hover {
				color: $red;
			}
		}

		.navbar {
			padding: 0;

			@include media-breakpoint-down(sm) {
				// display: none;
			}
			@include media-breakpoint-up(md) {
				position: absolute;
				top: -55px;
				right: 15px;
			}

		}
	}

	.header-icon-link {
		padding: 0 !important;
		border: none;
		text-align: center;
		display: block;

		span {
			color: $text-muted-color;
			font-size: 65%;
			display: block;
			transition: .2s;
		}

		&:hover span {
			color: $link-active-color;
		}

		svg.active {
			display: none;
		}
	}

	.active .header-icon-link {
		font-weight: normal;

		span {
			color: $link-active-color;
		}

		svg {
			display: none;

			&.active {
				display: inline-block;
			}
		}
	}

	.navbar-toggler {
		border: none;
		padding-right: 0;
		padding-top: 0;
		margin-top: -10px;
		// color: $base-text-color !important;

		@include media-breakpoint-up(md) {
			display: none;
		}
	}

	// SEARCH	
	.search-trigger {
		left: 0;
		top: 0;

		@include media-breakpoint-up(md) {
			margin-right: auto;
		}

		@include media-breakpoint-down(sm) {
			margin-right: 1rem;
			margin-top: 2px;
		}

		span {
			opacity: 0;
		}
	}

	.search-trigger.collapsed{
		span {
			opacity: 1;
			display: block;
		}
	}

	.search-form {
		// width: 100%;
		padding-top: 1.5rem;

		@include media-breakpoint-up(md) {
			padding-top: 0;
			top: 5px;
			position: absolute;
			left: 60px;
		}
	}
}

.main-menu {
	width: 100%;
	padding-top: 1.5rem;
	margin-bottom: .5rem;

	@include media-breakpoint-down(sm) {
		padding-top: 0;
	}

	li{
		margin: 0 1rem;

		a{
			border: none;
			padding: 0;
			position: relative;
		}
	}
}

// SCROLLING
.main-menu{

	&.scrolling{

		@include media-breakpoint-down(md){	
			li{
				margin-left: 0;
			}
		}

		.nav-item:last-child {
			padding-right: 40px;
		}

		a{
			white-space: nowrap;
		}

		menu{
			padding: 0;
			display: flex;
			list-style: none;

			@include media-breakpoint-down(md) {
				margin-top: 0;
			}

			@include media-breakpoint-up(lg) {
				justify-content: center !important;
			}
		}

		@media only screen and (max-width: 400px) {
			.menu-item { margin-right: 25px; }
		}

		@media only screen and (max-width: 426px) {
			.menu-item { margin-right: 13px; }
		}

		@media only screen and (max-width: 450px) {
			.menu-item { margin-right: 20px; }
		}

		@media only screen and (max-width: 470px) {
			.menu-item { margin-right: 25px; }
		}

		@media only screen and (max-width: 510px) {
			.menu-item { margin-right: 15px; }
		}

		@include media-breakpoint-up(md) {
			.menu-item { margin-right: 30px !important; }
		}
	}
}

.menuLimiter {
	width: 100%;

	/* Зададим возможность горизонтальной прокрутки */
	overflow-x: scroll;
	overflow-y: hidden;

  /* Добавим дополнительный нижнее поле
  элементу, в котором прокручивается меню */
  padding-bottom: 20px;

  /* С помощью отрицательного отступа
  компенсируем «нарощенное» поле  */
  margin-bottom: -20px;

  mask-image: linear-gradient(
  	90deg,
  	transparent 0, rgba(0, 0, 0, .25) 9px,
  	#000 18px,
  	#000 calc(100% - 18px),
  	rgba(0, 0, 0, .25) calc(100% - 9px),
  	transparent
  	);
}

.menuWrapper {
	/* Спрячем всё, что выходит за границы родителя */
	overflow: hidden;

	@include media-breakpoint-down(md){
		padding-right: 15px;
	}
}

// DROPDOWN
.dropdown-menu {
	padding: 1rem;
	font-size: 80%;
	left: -1rem !important;

	a{
		@include link-style($link-color, $link-hover-color);
		margin-bottom: .25rem;
		color: $base-text-color;

		&:hover{
			background: none;
		}
	}
}

/* Хак, чтобы были видны дропдауны */
.menuWrapper {
	position: absolute;
	z-index: 2;
}

.menuLimiter{
	padding-bottom: 140px;
}

header{
	margin-bottom: 5rem;

	@include media-breakpoint-down(md){
		margin-bottom: 4rem;	
	}
}

// Base styles
a, .btn-link {
	@include link-style($link-color, $link-hover-color);

	&.inside {
		@include inside-link-style($link-color, $link-hover-color);
	}
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {

	// ПОМЕНЯТЬ
	line-height: 1.3;
	margin-bottom: .75rem;
	padding-top: .5rem;
}

.btn {
	font-weight: normal !important;
	border: none;
}

.text-muted{
	color: $text-muted-color !important;
}

.adv-block{
	.adv-block-head{
		text-align: center;
		font-size: 1rem;
	}

	.adv-block-head{
		margin-bottom: 1rem;
	}

	.adv-block-body{
		h3{
			font-size: 1.25rem;
		}
	}
	h4{
		font-size: 1rem;
		line-height: 1.3;
	}

	.pic{
		position: relative;
	}
}

.gradient{
	background-image: linear-gradient(90deg,
		$button-base,
		$base-gradient-start,
		$base-gradient-end
		);
}

.gradient-text {
	@extend .gradient;
	background-size: 200% 200%;
	color: transparent;
	-webkit-background-clip: text;

	&.animated{
		animation: move-background 3s linear infinite;
	}
}

@keyframes move-background {
	0% { background-position: 0% 0% }
	50% { background-position: 100% 0% }
	100% { background-position: 0% 0% }
}
​
.base-gradient {
	@include gradient($base-gradient-start, $base-gradient-end);
	color: $button-base;
}

.color-invert {
	color: white;

	a {
		@include link-style($white, $button-base);
	}

	a.inside {
		@include inside-link-style($white, $button-base);
	}

	.text-muted {
		color: transparentize($white, .7);
	}
}

.caps-spaced {
	text-transform: uppercase;
	letter-spacing: .025rem;
}

.crimson {
	color: $button-base !important;
}

.zoom-background {
	@include zoom-background;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {

	&.main-carousel{		
		margin-bottom: 4rem;

		@include media-breakpoint-down(md) {
			margin-bottom: 3rem;
		}
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}

	.carousel-control-prev,
	.carousel-control-next {
		width: 40px;
		color: $button-base;
		opacity: 1;
		border: none;
		z-index: 2;
		transition: .2s;

		@include media-breakpoint-down(sm) {
			display: none;
		}

		&:hover{
			opacity: .5;
		}
	}

	&.carousel-slim{

		@include media-breakpoint-down(sm) {	
			margin-left: -15px;
			margin-right: -15px;
		}

		.carousel-control-next {
			right: -40px;

			@include media-breakpoint-down(sm) {
				right: 10px;
			}
		}

		.carousel-control-prev {
			left: -40px;

			@include media-breakpoint-down(sm) {
				left: 10px;
			}
		}
	}

	.container {
		position: relative;
	}

	.carousel-indicators {
		bottom: -40px;

		li {
			width: 10px;
			height: 10px;
			border-radius: 10px;
			border: 1px solid $button-base;
			background-color: transparent;
			transition: .2s;

			&:hover{
				background-color: transparentize($button-base, .5);
			}

			&.active {
				background-color: $button-base;
			}
		}
	}

	/* Since positioning the image, we need to help out the caption */
	.carousel-caption {
		top: 4rem;
		z-index: 10;
		left: 15px;
		right: 10%;
	}

	/* Declare heights because of positioning of img element */
	.carousel-item {
		min-height: 20rem;

		@include media-breakpoint-down(sm) {
			min-height: 15rem;
		}
	}
}

// WEEK OFFER
.week-offer{
	margin-bottom: 4rem;

	@include media-breakpoint-down(sm) {
		margin-bottom: 3rem;
	}

	.adv-block-body{
		@include make-row();
		margin: 0;

		.adv-block-info{
			color: $base-text-color;
		}
	}

	.adv-block-content{
		border: none;

		@include media-breakpoint-down(lg) {
			@include make-col(12);
		}

		@include media-breakpoint-up(lg) {
			@include make-col(8);
			@include make-col-offset(2);
		}

		&:hover .zoom-pic {
			transform: scale(1.05);
		}
	}

	.adv-block-info{
		margin-bottom: .5rem;
	}

	.adv-block-name{
		margin-bottom: .75rem;

		@include media-breakpoint-up(md) {
			margin-bottom: 1rem;
		}
	}

	.pic{
		position: relative;
		height: 250px;

		@include media-breakpoint-down(md) {
			@include make-col(12);
			margin-bottom: 1.25rem;
		}

		@include media-breakpoint-up(md) {
			@include make-col(5);
		}
	}

	.info{
		min-height: 200px;

		@include media-breakpoint-down(md) {
			@include make-col(12);
		}

		@include media-breakpoint-up(md) {
			@include make-col(7);
			padding-right: 15px;
			padding-left: 15px;
		}
	}
}

.price{
	font-size: 2.25rem;
	// font-weight: bold;

	.new-price{
		color: $button-base;
	}

	.old-price{
		font-size: 1rem;
		text-decoration: line-through;
		margin-left: 1rem;
	}
}

// ARTICLES TEASE
.articles-tease{
	margin-bottom: 5rem;

	@include media-breakpoint-down(sm) {
		margin-bottom: 3rem;
	}

	h2{
		font-size: 2.25rem;
		margin-bottom: 1.25rem;
	}

	h3, .h3 {
		font-size: 1.5rem;
	}

	@include media-breakpoint-down(sm) {
		h2{
			font-size: 2rem;
			margin-bottom: 1.25rem;
		}

		h3, .h3 {
			font-size: 1.25rem;
		}
	}
}

.articles-tease{

	.pic, .carousel-caption{
		min-height: 400px;

		@include media-breakpoint-down(md) {
			min-height: 200px;
		}
	}

	.ferment{
		@include make-row();
		margin: 0;
	}

	.pic{
		@include make-col(4);
		padding: 0 15px;

		@include media-breakpoint-down(sm) {
			display: none;			
		}
	}

	.carousel-caption{
		@include make-col(8);
		padding: 0;
		padding-left: 15px;
		position: relative;
		top: 0;
		z-index: 1;
		left: 0;
		right: 0;
		color: $base-text-color;
		text-align: left;

		@include media-breakpoint-down(sm) {
			@include make-col(12);
			padding-left: 0;
		}

		.inner{
			// background-size: 200% !important;
			background-position: right !important;
			height: 100%;

			@include media-breakpoint-down(sm) {
				padding: 2rem 15px 2.5rem 15px;
			}

			@include media-breakpoint-up(sm) {
				padding: 3rem 4rem;
			}

			.text{
				max-width: 600px;
				margin: 0;
				padding: 0;
			}
		}
	}
}

// OWL-CAROUSEL
.owl-carousel{
	.item {
		min-height: 10rem;
	}

	.owl-base-link{
		display: block;
		border: none;

		.pic{
			width: 100%;
			height: 180px;
			margin-bottom: .5rem;
		}

		.price, .new-price{
			padding-top: 1rem;
			font-size: 1.23rem;
			color: $base-text-color;
			font-weight: 400;
		}
	}

	.owl-nav{
		@include media-breakpoint-down(sm) {
			display: none;
		}

		button{
			color: $button-base !important;
			position: absolute;
			display: flex;
			top: 0;
			bottom: 0;
			align-items: center;
			justify-content: center;
			text-align: center;
			height: 80%;
			transition: .2s;
			z-index: 10;

			&:hover{
				background-color: transparent !important;
				opacity: .5;
			}
		}

		.owl-prev{
			left: -40px;
		}
		.owl-next{
			right: -40px;
		}
	}

	.owl-dots{
		padding-top: 1rem;

		.owl-dot{
			span{	
				width: 10px;
				height: 10px;
				border-radius: 10px;
				border: 1px solid $button-base;
				background-color: transparent;
				transition: .2s;
				margin: 3px;
			}

			&:hover span{
				background-color: transparentize($button-base, .5);
			}

			&.active {
				span{
					background-color: $button-base;
				}
			}
		}
	}
}

// NEW-ITEMS
.new-items{
	margin-bottom: 2rem;

	.owl-nav{
		button{
			height: 50%;
		}
	}
}

// FORMS
form {
	.form-control {
		border: none;
		background-color: transparentize($text-muted-color, .75);
	}

	&.search-form {
		width: 250px;

		.form-control {
			width: 150px;
		}
	}
}

.footer {
	background-image: url('../img/rose-pattern-bg.jpg');
	position: absolute;
	bottom: 0;
	width: 100%;
	background-size: auto 100%;

	@include media-breakpoint-up(lg) {
		background-size: cover;
		padding-top: 40px;
		height: 280px;
	}

	@include media-breakpoint-down(lg) {
		padding-top: 40px;
		height: 350px;
	}

	@include media-breakpoint-down(sm) {
		padding-top: 30px;
		height: 500px;
	}

	h3 {
		font-size: 1rem;
		margin-bottom: .75rem;
	}

	.navbar-brand {
		display: block;
		background-image: url('../img/whamisa-logo-black.png');
		background-size: contain;
		height: 75px;
		width: 84px;
		margin: 0;
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			margin-bottom: .25rem;
		}
	}

	.logo-copyright {
		padding-right: 15px;
		padding-left: 15px;

		@include media-breakpoint-down(lg) {
			@include make-col(12);

			.logo {
				@include make-col(2);
			}

			.copyright {
				@include make-col(3);
				padding-top: 2rem;
			}

			margin-bottom: 1rem;
		}

		@include media-breakpoint-down(sm) {
			.logo {
				@include make-col(4);
			}

			.copyright {
				@include make-col(8);
				padding-top: 1.5rem;
			}

			margin-bottom: 2rem;
		}

		@include media-breakpoint-up(lg) {
			@include make-col(3);

			.logo, .copyright {
				@include make-col(12);
				margin-bottom: 1rem;
				padding: 0;
			}
		}
	}

	.links-list {
		padding-right: 15px;
		padding-left: 15px;

		@include media-breakpoint-up(md) {
			@include make-col(4);
		}

		@include media-breakpoint-up(lg) {
			@include make-col(3);
		}

		@include media-breakpoint-down(md) {
			@include make-col(4);

			margin-bottom: 1rem;
		}

		@include media-breakpoint-down(sm) {
			@include make-col(6);
		}
	}
}